<a href="https://colab.research.google.com/github/NaswaAulia/NaswaAuliaaa/blob/mainn/PrakAlgo9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
print('@@@@@@ @  @@@  @  @@@@')
print('@    @ @ @  @  @ @    @')
print('@@@@@@ @ @  @  @ @@@@@@')
print('@    @ @@@   @@@ @    @')

def list_to_tuple(input_list):
    return tuple(input_list)

# Contoh list
sample_list = [0, 6, 4, 0, 5, 2, 3, 4, 0, 0, 0, 4]

# Konversi list menjadi tuple
result_tuple = list_to_tuple(sample_list)

print(sample_list)
print("hasil reverse ke tuple")
print(result_tuple)

@@@@@@ @  @@@  @  @@@@
@    @ @ @  @  @ @    @
@@@@@@ @ @  @  @ @@@@@@
@    @ @@@   @@@ @    @
[0, 6, 4, 0, 5, 2, 3, 4, 0, 0, 0, 4]
hasil reverse ke tuple
(0, 6, 4, 0, 5, 2, 3, 4, 0, 0, 0, 4)

In [16]:
a = ('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
print(a)
def ratarata(angka):
    rata_rata = [int(x) for x in angka.split(', ')]
    return int(sum(rata_rata) / len(rata_rata))

averages = [ratarata(group) for group in a]
print("rata rata dari tuple adalah : ")
print(averages)

print("===== NASWA AULIA  =====")
print("===== 065002300036=====")

('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
rata rata dari tuple adalah :
[1022, 1026, 1029]
===== NASWA AULIA  =====
===== 065002300036=====

In [1]:
print('@@@@@@ @  @@@  @  @@@@')
print('@    @ @ @  @  @ @    @')
print('@@@@@@ @ @  @  @ @@@@@@')
print('@    @ @@@   @@@ @    @')

print("Elkom 3")
a = [1,2,4,3]

print(a)

hasil = 1

for result in a:
    hasil *= result


print(hasil)

@@@@@@ @  @@@  @  @@@@
@    @ @ @  @  @ @    @
@@@@@@ @ @  @  @ @@@@@@
@    @ @@@   @@@ @    @
Elkom 3
[1, 2, 4, 3]
24

In [3]:
def hitung(liststring):
    count = 0
    for string in liststring:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
            print(f"-{string}")
    return count


my_list = ['xyx', 'cac', 'lol', 'lmao', 'test']
print(my_list)
result = hitung(my_list)

print(f"terdapat {result} yang memenuhi syarat")

['xyx', 'cac', 'lol', 'lmao', 'test']
-xyx
-cac
-lol
-test
terdapat 4 yang memenuhi syarat